	/*body*/
body{
	background:lightgray;
	
}
	/*header*/
.header1{
	display: table;
	width:100%;
	height:50px;
	background: #0080ff;
	color: white;
	text-align: center;
	vertical-align:middle;
	
}
	/*footer*/
.footer1{
	display: table;
	width:100%;
	height:50px;
	background: black;
	color: white;
	text-align: center;
	vertical-align:middle;
	
}